In [1]:
import pandas as pd

In [74]:
female = pd.read_csv("top20_all_female_only.csv")
male = pd.read_csv("top20_all_male_only.csv",encoding="SHIFT-JIS")

In [75]:
female = female.add_prefix('female_')
female = female.rename(columns={'female_word': 'word'})
female = female.rename(columns={'female_occupation': 'occupation'})
female.head()

,word,female_word in English,female_parts of speech,female_total,female_the number of articles,female_frequency (%),female_gender,occupation
0,研究,reserch,noun,4261,966,15,female,scientist
1,大学,university,noun,2918,849,13,female,scientist
2,学,learning; scholarship; study,noun,2900,878,14,female,scientist
3,教授,professor,noun,2275,867,13,female,scientist
4,日本,Japan,noun,2220,804,12,female,scientist

In [76]:
male = male.add_prefix('male_')
male = male.rename(columns={'male_word': 'word'})
male = male.rename(columns={'male_occupation': 'occupation'})
male.head(9)

,word,male_word in English,male_parts of speech,male_total,male_the number of articles,male_frequency (%),male_gender,occupation
0,研究,reserch,noun,62473,17011,69,male,scientist
1,大学,university,noun,45604,15050,61,male,scientist
2,学,learning; scholarship; study,noun,46580,14842,60,male,scientist
3,教授,professor,noun,49488,18099,74,male,scientist
4,日本,Japan,noun,40098,16587,68,male,scientist
5,日本,Japan,noun,408,161,84,male,Japanese idol
6,科学,science,noun,18048,7656,31,male,scientist
7,博士,doctor,noun,20821,12783,52,male,scientist
8,学者,resercher,noun,20988,14110,57,male,scientist

In [77]:
male.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   word                         240 non-null    object
 1   male_word in English         240 non-null    object
 2   male_parts of speech         240 non-null    object
 3   male_total                   240 non-null    int64
 4   male_the number of articles  240 non-null    int64
 5   male_frequency (%)           240 non-null    int64
 6   male_gender                  240 non-null    object
 7   occupation                   240 non-null    object
dtypes: int64(3), object(5)
memory usage: 15.1+ KB

In [78]:
test_merged = pd.merge(female, male, on="word", how ="outer")
test_merged

,word,female_word in English,female_parts of speech,female_total,female_the number of articles,female_frequency (%),female_gender,occupation_x,male_word in English,male_parts of speech,male_total,male_the number of articles,male_frequency (%),male_gender,occupation_y
0,研究,reserch,noun,4261.0,966.0,15.0,female,scientist,reserch,noun,62473.0,17011.0,69.0,male,scientist
1,大学,university,noun,2918.0,849.0,13.0,female,scientist,university,noun,45604.0,15050.0,61.0,male,scientist
2,学,learning; scholarship; study,noun,2900.0,878.0,14.0,female,scientist,learning; scholarship; study,noun,46580.0,14842.0,60.0,male,scientist
3,教授,professor,noun,2275.0,867.0,13.0,female,scientist,professor,noun,49488.0,18099.0,74.0,male,scientist
4,日本,Japan,noun,2220.0,804.0,12.0,female,scientist,Japan,noun,40098.0,16587.0,68.0,male,scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,着る,NaN,NaN,NaN,NaN,NaN,NaN,NaN,to wear; to put on,verb,84.0,18.0,2.0,male,figure skater
515,跳ぶ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,o jump; to leap,verb,56.0,33.0,4.0,male,figure skater
516,ひろい,NaN,NaN,NaN,NaN,NaN,NaN,NaN,spacious; vast,adj,386.0,383.0,2.0,male,scientist
517,凄い,NaN,NaN,NaN,NaN,NaN,NaN,NaN,amazing; great?,adj,14.0,3.0,2.0,male,Japanese idol
518,悔しい,NaN,NaN,NaN,NaN,NaN,NaN,NaN,frustrated; annoyed,adj,11.0,1.0,0.0,male,figure skater

In [87]:
top20_merged = pd.merge(female, male, how ="outer", on = ["word","occupation"])
top20_merged

,word,female_word in English,female_parts of speech,female_total,female_the number of articles,female_frequency (%),female_gender,occupation,male_word in English,male_parts of speech,male_total,male_the number of articles,male_frequency (%),male_gender
0,研究,reserch,noun,4261.0,966.0,15.0,female,scientist,reserch,noun,62473.0,17011.0,69.0,male
1,大学,university,noun,2918.0,849.0,13.0,female,scientist,university,noun,45604.0,15050.0,61.0,male
2,学,learning; scholarship; study,noun,2900.0,878.0,14.0,female,scientist,learning; scholarship; study,noun,46580.0,14842.0,60.0,male
3,教授,professor,noun,2275.0,867.0,13.0,female,scientist,professor,noun,49488.0,18099.0,74.0,male
4,日本,Japan,noun,2220.0,804.0,12.0,female,scientist,Japan,noun,40098.0,16587.0,68.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,早い,NaN,NaN,NaN,NaN,NaN,NaN,prince and princess,fast; quick,adj,14.0,11.0,3.0,male
300,ひろい,NaN,NaN,NaN,NaN,NaN,NaN,scientist,spacious; vast,adj,386.0,383.0,2.0,male
301,幅広い,NaN,NaN,NaN,NaN,NaN,NaN,scientist,extensive; wide,adj,382.0,356.0,1.0,male
302,凄い,NaN,NaN,NaN,NaN,NaN,NaN,Japanese idol,amazing; great?,adj,14.0,3.0,2.0,male
303,悔しい,NaN,NaN,NaN,NaN,NaN,NaN,figure skater,frustrated; annoyed,adj,11.0,1.0,0.0,male

In [90]:
top20_merged.to_csv("top20_merged.csv", index=False)